/* style.css */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box; /* New addition */
}
h1 {
    font-weight: 800;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 200;
}

*, *::before, *::after {
    box-sizing: inherit; /* New addition */
}

.sticky-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}


.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand img {
    height: 30px; /* Adjust as needed */
}

.nav-brand h1 {
    margin: 0 0 0 20px; /* Adjust the margin to create some space between the image and text */
    font-size: 1.3em; /* Adjust the font size as needed */
    font-weight: 800;
    background: linear-gradient(to right, #A9D6FF, #E9A9FF); /* Example gradient from pink to orange */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    letter-spacing: normal; /* Initial letter spacing */
    transition: letter-spacing 0.3s ease; /* Transition effect */
}

.nav-brand h1:hover{
    letter-spacing: 3px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-weight: 100;

}

.nav-links a:hover {
    color: #D9C0EC;
}

section {
    width: 100%; /* Changed from 100vw to 100% */
}

#hero spline-viewer {
    width: 100%;
    height: 100%;
}

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.about-me-content, .spline-container {
    width: 50%; /* Ensuring both flex items occupy 100% in total */
    padding: 10px; /* Adjust padding as needed */
}

.spline-container {
    height: 100%;
    /* Additional Spline specific styles here */
}



#design-portfolio .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

#design-portfolio .grid-item {
    background-color: white;
    border: 1px solid #ddd; /* Optional border */
    padding: 15px;
    text-align: center;
}

#design-portfolio .grid-item img {
    width: 100%;
    height: auto;
}

#design-portfolio .grid-item p {
    margin-top: 10px;
}