/* style.css */
body, html {
    margin: 0;
    place-items:center;

    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;

}
h1 {
    font-weight: 900;
    font-size: 3em; /* Adjust the size as needed */

    text-align: center;
    width: 100%; /* Ensures text alignment works for multiple lines */
    background: linear-gradient(to right, #59b1ff, #ff84ff); /* Example gradient from pink to orange */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-top: 30px;
    margin-bottom: 20px;
}



/* Change the scrollbar's width, height, and color */
::-webkit-scrollbar {
    width: 10px; /* Change the width as needed */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #100f12; /* Change the thumb background color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar track (the area behind the thumb) */
::-webkit-scrollbar-track {
    background: black; /* Change the track background color */
    border-radius: 5px; /* Rounded corners for the track */
}



h2 {
    font-weight: 500;
}

p {
    font-weight: 200;
}


section {
    width: 100%; /* Changed from 100vw to 100% */
    padding: 50px;

}


.sticky-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}


.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand img {
    height: 30px; /* Adjust as needed */
}

.nav-title{
    margin: 0 0 0 20px; /* Adjust the margin to create some space between the image and text */
    font-size: 1.3em; /* Adjust the font size as needed */
    font-weight: 800;
    background:  linear-gradient(to right, #59b1ff, #ff84ff); /* Example gradient from pink to orange */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    letter-spacing: normal; /* Initial letter spacing */
    transition: letter-spacing 0.3s ease; /* Transition effect */


}

.nav-title:hover{
    letter-spacing: 3px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-weight: 100;
    font-size: 1rem; /* Add a consistent font size */



}

.nav-links a:hover {
    color: #ff84ff;
    font-weight: 600;
}



#spline-container {
    width: 100%;
    height: 100vh; /* Make it take up the full viewport height */

}

#transparent-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the background color and opacity */
    z-index: 3; /* Place it in front of the Spline viewer (use a higher z-index) */
}

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.about-me-content, .spline-container {
    width: 50%; /* Ensuring both flex items occupy 100% in total */
    padding: 10px; /* Adjust padding as needed */
}

.spline-container {
    height: 100%;
    /* Additional Spline specific styles here */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax value for desired card width */
    gap: 10px; /* Adjust the gap between cards as needed */
    padding: 30px;

}

.card {
    background-color: #100f12;
    border-radius: 10px;
    margin: 10px;
    max-width: 300px; /* Adjust the maximum width as needed */
    text-decoration: none; /* Remove underline for links within the card on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add a smooth transition for hover effects */
}

.card:hover {
    transform: scale(1.07); /* Scale up the card on hover for a slight zoom effect */
    border: #ff84ff;
    text-decoration: none; /* Remove underline for links within the card on hover */
}


.card-img-top {
    max-width: 100%;
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire container */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(to right, #59b1ff, #ff84ff); /* Example gradient from pink to orange */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;    font-weight: 900;


}

.card-text {
    font-size: 1rem; /* Adjust the font size as needed */
    color: white;
    font-weight: 100;


}

.chip-container {
    display: flex;
    flex-wrap: wrap; /* Allow chips to wrap to a new line */
    gap: 5px; /* Add some spacing between chips */
    font-size: 0.75rem; /* Adjust the font size as needed */
    font-weight: 300;


}

.chip {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid dimgray;
    border-radius: 50px;
    color: gray;
    text-align: center;
    margin-bottom: 5px; /* Add some bottom margin to separate chips vertically */
}



.card-scroll-container {
    overflow-x: scroll; /* Enable horizontal scrolling */
    display: flex; /* Use flexbox to lay out the cards horizontally */
    gap: 10px; /* Adjust the gap between cards as needed */
    padding-left: 30px;
    padding-right: 30px;
}

.card-container {
    display: flex; /* Use flexbox to allow cards to expand horizontally */
    flex-direction: row; /* Make cards flow horizontally */
}

.card {
    background-color: #100f12;
    border-radius: 10px;
    max-width: 300px;
    flex-shrink: 0; /* Prevent cards from shrinking to fit */
}


#contact .icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
    gap: 50px; /* Add gap between items */
    margin: 0 auto;
    text-align: center; /* Center align items */
}

#contact .grid-item {
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact .grid-item p {
    font-size: 16px; /* Adjust text size as needed */
    margin: 0;
}

#contact .contact-icon{
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    margin-bottom: 20px; /* Add space between icon and text */

}
