/* style.css */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box; /* New addition */
}

*, *::before, *::after {
    box-sizing: inherit; /* New addition */
}

.sticky-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}

.nav-brand img {
    height: 50px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.nav-links a:hover {
    color: deeppink;
}

section {
    width: 100%; /* Changed from 100vw to 100% */
}

#hero spline-viewer {
    width: 100%;
    height: 100%;
}

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.about-me-content, .spline-container {
    width: 50%; /* Ensuring both flex items occupy 100% in total */
    padding: 10px; /* Adjust padding as needed */
}

.spline-container {
    height: 100%;
    /* Additional Spline specific styles here */
}
